@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    width: 80%;
    margin-top: 50px;

    &-password-strength {
      width: 300px;
      height: 200px;
      border: 1px solid $primary;
      padding: 10px;
      border-radius: $border-radius;
      margin-bottom: 30px;
      background-color: rgb(228, 222, 228);
      color: $primary;

      &-status {
        height: 10px;
        border: 1px solid black;
        border-radius: $border-radius;

        &-filler {
          height: 8px;
          border-radius: $border-radius;

          &.weak {
            width: 25%;
            background-color: &error;
          }

          &.moderate {
            width: 50%;
            background-color: &warn;
          }

          &.strong {
            width: 75%;
            background-color: &strong;
          }
        
          &.veryStrong {
            width: 100%;
            background-color: $primary;
          }
          
        }
     
        &-info {
          margin: 10px;

          p {
            margin: 0;
            font-size: 12px;
            color: grey;
          }

        }

        &-current {
          color: $error;
        }
        
      }
    
    }

  }
}
